---
BasedOnStyle: Google
IndentWidth: 2
ColumnLimit: 100
PointerAlignment: Right
DerivePointerAlignment: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortBlocksOnASingleLine: Empty
Standard: c++11
SortIncludes: false
